/* html, body {
  height: 100%;
  width: 100%;
} */

body {
  background-image: url("/img/white-abstract-background.gif");
  background-size: cover;
  height: 100%;
  margin-left: 25px;
  margin-right: 25px;
  font-family:"Oswald", "Lato", "Nunito", "Roboto Mono", "Georgia", serif;
  font-size: medium;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border:outset;
  text-align: center;

  text-decoration: none;
  color: initial;
  border-radius: 8px;
  background-color: #04AA6D;
  /* border: none; */
  color: white;
  padding: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  height: 5%;
}

.tbl {
  text-align: center;
  width:90%;
  background-color: greenyellow;
  margin-left: auto;
  margin-right: auto;
}

#Main_header {
  color: initial;
	text-decoration: none;
  display: inline-block;
	overflow:auto;
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 997; /* so that it stays on top of all other elements */
	
}
 
.nocurse:hover {
  cursor: none;
	position: absolute;
  z-index: 998;
  cursor: none;
  pointer-events: none;
	height: 100%;
	width: 100%;
	cursor: none;
  background-color: aliceblue;
  cursor: none;
}

.onpage {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: inset;

  text-decoration: none;
  color: initial;
  border-radius: 8px;
  background-color: rgb(0, 119, 255);
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

#glass-door-project {
  display: inline-block;
  border-radius: 8px;
  width: 750px;
  margin: 10px;
  padding: 10px;
  border: groove;
  /* background-color: lightgrey; */
  background-color: aqua;
  overflow-x: scroll;
}