/* html, body {
  height: 100%;
  width: 100%;
} */

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  border-radius: 8px;
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

body {
  background-image: url("/img/white-abstract-background.gif");
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  font-family:"Oswald", "Lato", "Nunito", "Roboto Mono", "Georgia", serif;
}

.tbl {
  text-align: center;
  width:100%;
  background-color: greenyellow;
}

.not-a-button {
  color: black;
  display: inline;
}

#Main_header {
  color: black;
  display: inline-block;
}
