/* html, body {
  height: 100%;
  width: 100%;
} */

body {
  background-image: url("/img/white-abstract-background.gif");
  background-size: 100%;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  font-family:"Oswald", "Lato", "Nunito", "Roboto Mono", "Georgia", serif;
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
  border-radius: 8px;
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

body {
  background-image: url("/img/white-abstract-background.gif");
  background-size: cover;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
}

.tbl {
  text-align: center;
  width:100%;
  background-color: greenyellow;
	
}

#Main_header {
  color: initial;
	text-decoration: none;
  display: inline-block;
	
}

.circle {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: black;
  position: fixed; 
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 999; /* so that it stays on top of all other elements */
	
}
 
.nocurse {
  cursor: none;
	position: absolute;
  z-index: 998;
  cursor: none;
  pointer-events: none;
	height: 100%;
	width: 100%;
	cursor: none;
}

